{% extends 'portfolio/index.html' %}
{% load static %}


{% block body_block %}
  <style>

    .service-item {
      text-align: center;
      padding: 20px;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  }
  .service-icon {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 15px;
  }
  @media (max-width: 768px) {
      .service-icon {
          height: 150px;
      }
  }

  </style>
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <img src="{% static 'img/services.jpg' %}" alt="Nesciunt Mete" class="service-icon">
              <a href="service-details.html" class="stretched-link">
                  <h3>Nesciunt Mete</h3>
              </a>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
          </div>
          </div><!-- End Service Item -->
          
          {% for service in services %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Eosle Commodi</h3>
              </a>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
          

        </div>

      </div>

    </section><!-- /Services Section -->

  </main>

  {% endblock body_block %}