.profile-image {
  border-radius: 400px;
  border:5px solid #FFF;
}

.location{
 position: relative;
}

@media all and (min-width: 800px){
 .location{
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a;
 }
}
